[submodule "dwm"]
	path = dwm
	url = https://github.com/acx0/dwm
[submodule "link.sh"]
	path = link.sh
	url = https://github.com/acx0/link.sh
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "fonts/SFMono"]
	path = fonts/SFMono
	url = git@github.com:acx0/SFMono.git
